{% extends "shared/base.html" %}

{% block content %}
    <section class="user_details">
        <h3>
            <img src="{{user.profile_image_url}}" /> {{user.full_name}} <a href="/logout/" title="logout" class="logout">logout</a>
        </h3>
    </section>
    {% include "posts/new.html" %}
    <h1>Latest Posts</h1>
    <ol>
        {% for post in posts %}
            <li>
                <div class="message">
                    
                </div>
                <div class="message_meta">{{ post.created_at }} <a href="/posts/delete/{{ post.id }}">delete</a></div>
            </li>
        {% endfor %}
    </ol>
{% endblock %}