/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

body, p, a, h1, h2, h3, li {
    font-family: Arial;
}

.home.wrapper {
    width: 320px;
    margin: 0 auto;
    text-align: center;
}

.home.wrapper header {
    width: 300px;
}

.home.wrapper header h1 {
    font-size: 1px;
    text-indent: -9999px;
    background-image: url('/media/images/favicon.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 0;
    display: block;
    text-shadow: 0 0 4px #999;
}

.home.wrapper header span {
    font-size: 0.5em;
    display: block;
    margin-top: 21px;
    color: #444;
}

.home.wrapper #container p {
    margin-top: 20px;
    color: #555;
    font-size: 0.8em;
}

.wrapper {
    padding-top: 1em;
    margin: 0 auto;
    position: relative;
    width: 90%;
    min-width: 320px;
    color: #333;
}

header {
    font-size: 1.85em;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    float: left;
    position: relative;
    width: 30px;
}

header a {
    font-size: 1em;
    color: #111;
    text-decoration: none;
}

header a.logo {
    text-indent: -9999px;
    font-size: 0px;
    background-image: url('/media/images/logo.png');
    background-repeat: no-repeat;
    display: block;
    width: 31px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

header a:hover {
    color: #b1d749;
}

header span {
    font-size: 0.4em;
    margin-top: 11px;
    display: block;
    text-transform: lowercase;
    color: #222;
}

section.user_details {
    float: right;
    position: relative;
    overflow: hidden;
    height: 30px;
    text-align: right;
    color: #ccc;
    right: 10px;
}

section.user_details h3 span, section.user_details h3 a {
    line-height: 2.4em;
    font-size: 0.85em;
    padding-right: 5px;
    padding-left: 5px;
    color: #444;
}

section.user_details h3 .logout {
    color: #444;
    padding-right: 0px;
    text-decoration: none;
}

.user_options li a, .message_meta .actions a, .pagination {
    display: block;
    float: left;
    border-radius: 5px;
    text-decoration: none;
    padding: 6px;
    font-size: 0.75em;
    text-transform: uppercase;
    border: 1px solid #999;
    
    background-color: #ddd;
    color: #666;
    text-shadow: 0 0 2px #fff;
}

.user_options li a:hover, .message_meta .actions a:hover, .pagination:hover {
    color: #fff;
    text-shadow: 0 0 2px #444;
    background-color: #ccc;
}

section.posts {
    position: relative;
    clear: both;
    float: left;
    display: block;
    width: 99%;
    margin-top: 10px;
    border-top: 3px solid #cfe16b;
    padding: 10px;
}

section.posts.tagged {
    padding: 0px;
}

.wrapper, section.posts form input[type="text"], ol {
    min-width: 320px;
    max-width: 960px;
}

.button.new {
    margin-bottom: 20px;
}

section.posts form {
    display: none;
    float: left;
    clear: both;
    width: 98%;
    background-color: #eee;
    padding: 10px;
} 

section.posts form select {
    border: 1px solid #ddd;
}

section.posts form select {
    font-size: 1em;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #222;
    background-color: #fff;
    float: left;
}

section.posts form label {
    font-size: 0.85em;
    color: #555;
    text-transform: uppercase;
    margin-right: 10px;
    float: left;
    margin-bottom: 5px;
    width: 80px;
    background-color: #ddd;
    padding: 4px;
}

section.posts .form_section {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
}

section.posts form input[type="text"] {
    width: 80%;
    font-family: Georgia;
    float: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    background-color: #fff;
    font-size: 1.2em;
    border-radius: 5px;
    color: #222;
}

section.posts form.edit_post {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
}

section.posts form form input[type="text"] {
    width: 75%;
    margin-right: 10px;
    margin-bottom: 10px;
}

section.posts form button {
    border: 0;
    background-color: #cfe16b;
    color: #6b7728;
    font-size: 0.9em;
    border-radius: 6px;
    padding: 4px;
    padding-bottom: 2px;
    text-transform: uppercase;
    float: left;
    margin-left: 5px;
    margin-top: 3px;
    border: 1px solid #bfcf6a;
}

h1 {
    float: left;
    clear: both;
    margin-top: 30px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1.1em;
}

h1.profile {
    margin-top: 0px;
    margin-bottom: 30px;
}

h1.profile img {
    margin-right: 10px;
}

ol {
    margin-top: 10px;
    float: left;
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    width: 98%;
}

ol li {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 0.95em;
    border-bottom: 1px solid #f1f1f1;
    width: 99%;
    float: left;
    clear: both;
}

ol li p {
    line-height: 1.25em;
    font-size: 1.5em;
    color: #666;
    padding-bottom: 10px;
    font-family: Georgia;
}

ol li img {
    max-width: 100%;
}

.message {
    font-size: 0.9em;
}

.message a {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #333;
    font-size: 2em;
    display: block;
    margin-bottom: 20px;
}

.message a:hover {
    color: #000;
    background-color: #91e3ed;
}

.message_meta {
    font-size: 0.8em;
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

.message_meta .edit, .message_meta .date, .message_meta .delete {
    line-height: 1.2em;
}

.message_meta .tags {
    margin-right: 10px;
    float: left;
    display: block;
    margin-bottom: 10px;
}

.message_meta .info {
    float: left;
    
}

.message_meta .tags a {
    color: #424d29;
    background-color: #c9ee71;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-size: 1.1em;
}


.message_meta .actions a {
    font-size: 0.85em;
    margin-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.message_meta .tags a:hover {
    background-color: #a1bf58;
}

.message_meta a.delete {
    color: #a11010;
}

.message_meta .actions {
    margin-right: 20px;
}

.meta_response {
    font-style: normal;
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 1.8em;
}

.meta_response a, a.author, a.edit {
    color: #222;
}

a.edit {
    padding-right: 5px;
}

.repost_count, .meta_response .details {
    border-radius: 25px;
    line-height: 1em;
    text-align: center;
    float: right;
    min-width: 14px;
    display: block;
    margin-right: 10px;
    margin-top: 0px;
    padding: 6px;
    padding-right: 4px;
    background-color: #e93072;
    color: #ffecf3;
    text-shadow: 0 0 2px #666;
}

.meta_response a.details {
    color: #eee;
    display: block;
    text-decoration: none;
    background-color: #111;
    text-shadow: 0;
}

.pagination.next {
    float: right;
    margin-bottom: 20px;
}

.pagination.prev {
    margin-bottom: 20px;
}

.footer {
    float: left;
    clear: both;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: -10px;
}

.footer li {
    float: left;
    margin: 20px;
    margin-top: 0px;
}

.footer li a {
    text-decoration: none;
    text-transform: lowercase;
    font-size: 0.9em;
    color: #444;
}