/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

body, p, a, h1, h2, h3, li {
    font-family: Arial;
}

.wrapper {
    padding-top: 1em;
    margin: 0 auto;
    position: relative;
    width: 90%;
    min-width: 340px;
    color: #333;
}

header {
    font-size: 1.85em;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    float: left;
    position: relative;
}

header a {
    font-size: 1em;
    color: #ccc;
    text-decoration: none;
}

header a:hover {
    color: #888;
}

header span {
    font-size: 0.4em;
    display: block;
    text-transform: lowercase;
    color: #222;
}

section.user_details {
    margin-top: 5px;
    float: right;
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 40px;
    text-align: right;
    color: #ccc;
}

section.user_details h3 span, section.user_details h3 a {
    line-height: 4.4em;
    font-size: 0.85em;
    padding-right: 10px;
    padding-left: 10px;
    color: #444;
}

section.user_details h3 .logout {
    color: #444;
    padding-right: 0px;
    text-decoration: none;
}

section.posts {
    position: relative;
    clear: both;
    float: left;
    display: block;
    width: 99%;
    margin-top: 10px;
    border-top: 3px solid #cfe16b;
    padding: 10px;
}

.wrapper, section.posts form input, ol {
    min-width: 340px;
    max-width: 960px;
} 

section.posts form select {
    border: 1px solid #ddd;
}

section.posts form select {
    font-size: 1em;
    color: #444;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #222;
    background-color: #f1f1f1;
    float: left;
}

section.posts form label {
    font-size: 1.1em;
    color: #222;
    text-transform: uppercase;
    margin-right: 10px;
    float: left;
    margin-bottom: 5px;
}

section.posts .form_section {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 10px;
}

section.posts form textarea, section.posts form input {
    width: 91%;
    font-family: Georgia;
    float: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    background-color: #f1f1f1;
    font-size: 1.2em;
    border-radius: 5px;
    color: #222;
    resize: vertical;
}

section.posts form input {
    width: 75%;
    margin-right: 10px;
    margin-bottom: 10px;
}

section.posts form button {
    border: 0;
    background-color: #cfe16b;
    color: #6b7728;
    font-size: 1.2em;
    border-radius: 6px;
    padding: 3px;
    padding-bottom: 2px;
    border: 1px solid #bfcf6a;
}

h1 {
    float: left;
    clear: both;
    margin-top: 50px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 1.2em;
}

h1.profile {
    margin-top: 20px;
    margin-bottom: 30px;
}

ol {
    margin-top: 10px;
    float: left;
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

ol li {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 0.9em;
    border-bottom: 1px solid #f1f1f1;
    width: 99%;
    float: left;
    clear: both;
}

ol li p {
    line-height: 1.25em;
    font-size: 1.5em;
    color: #666;
    padding-bottom: 10px;
    font-family: Georgia;
}

ol li img {
    max-width: 100%;
}

.message {
    font-size: 0.9em;
}

.message a {
    text-decoration: none;
    background-color: #f1f1f1;
    color: #333;
    font-size: 2em;
    display: block;
    margin-bottom: 20px;
}

.message a:hover {
    color: #000;
    background-color: #91e3ed;
}

.message_meta {
    font-size: 0.8em;
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

.message_meta .tags {
    margin-right: 10px;
}

.message_meta .tags a, .message_meta .actions a {
    color: #424d29;
    background-color: #c9ee71;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-size: 1.1em;
}

.message_meta .tags a:hover {
    background-color: #a1bf58;
}

.message_meta a.delete {
    color: #a11010;
}

.message_meta .actions {
    margin-right: 20px;
}

.message_meta .actions a {
    font-style: normal;
    color: #eee;
    background-color: #333;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.88em;
}

.message_meta .actions a:hover {
    background-color: #aaa;
}

.meta_response {
    font-style: normal;
    margin-top: 20px;
    font-size: 1.2em;
}

.meta_response a {
    color: #222;
}