{% load render_post %}

<ol>
    {% for post in posts %}
        <li>
            <div class="message">
                {% autoescape off %}
                    {{ post|generate_post:post }}
                {% endautoescape %}
            </div>
            <div class="message_meta">
                <span class="tags">
                    {% autoescape off %}
                        {{ post|generate_tags:post }}
                    {% endautoescape %}
                </span> 
                <span class="date">Posted by <a href="/user/{{ post.author.id }}" class="author">{{ post.author.full_name }}</a> on {{ post.created_at }}</span> 
                {% if user.id == post.author.id %}
                    <a href="/posts/delete/{{ post.id }}" class="delete">delete</a>
                {% endif %}
                <div class="meta_response">
                    {% if user and user.id != post.author.id %}
                        <span class="actions"><a href="/repost/{{ post.id }}">repost</a></span>
                    {% endif %}
                    {% autoescape off %}
                        {{ post|generate_meta_response:post }}
                    {% endautoescape %}
                </div>
            </div>
        </li>
    {% endfor %}
</ol>

{% if next_page > 2 %}
    <a href="?page={{ prev_page }}" class="pagination prev">prev</a>
{% endif %}
{% if post_count == 3 %}
    <a href="?page={{ next_page }}" class="pagination next">next</a>
{% endif %}