{% extends "shared/base.html" %}

{% load render_post %}

{% block content %}
    {% include "shared/user_header.html" %}
    <section class="posts tagged">
        
    </section>
    <h1>Tag List</h1>
    <input type="text" value="" placeholder="type to filter" class="search" />
    <ol class="tag_list">
        {% for tag in tags %}
            <li>
                <span class="count">{{ tag.total_count }}</span>
                <a href="/tagged/{{ tag.name }}">{{ tag.name }}</a>
                <ul class="stats">
                    {% if user %}
                        <li class="info">{{ user|post_by_your_tag:tag }}</li>
                        <li class="info">{{ user|post_by_follower_tag:tag }}</li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ol>
{% endblock %}