<head>
    <title>Refrig.in: store your posts in a cool place.</title>
    <meta content="width=device-width, height=device-height, user-scalable=no, initial-scale=0.9, maximum-scale=0.9, minimum-scale=0.9" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="chrome=1" http-equiv="X-UA-Compatible" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/media/stylesheets/main.css" />
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}/media/images/favicon.png" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/media/javascripts/main.js"></script>
</head>