<section class="user_details">
    <h3>
        {% if user %}
            <div class="user_actions">
                <a href="/dashboard">dashboard</a>
                <a href="/yours">yours</a>
                <a href="/public">everyone</a>
                <a href="/search">search</a>
                <a href="/community">community</a>
            </div>
            <div class="user_actions">
                <span>signed in as: {{user.full_name}}</span> | <a href="/logout/" title="logout" class="logout">logout</a>
            </div>
        {% else %}
            <a href="/public">everyone</a>
            <a href="/community">community</a>
            <a href="/auth" title="logout" class="logout">sign in with twitter</a>
        {% endif %}
    </h3>
</section>